.main-content
  - if @slide
    :css
      #{@slide[:css]}
    :javascript
      #{@slide[:script]}
    - if @slide_index == 'all'
      .page-wrapper
        = render :partial => 'page'
    - else
      .slide-wrapper
        = render :partial => 'slides'
  - else
    = @error
